/*
    Document   : mikado
    Created on : Jun 15, 2013, 8:28:52 PM
    Author     : vikky chhajer
    Description:
        Purpose of the stylesheet follows.
*/

root {
    /*    height: 100%;*/
    display: block;
}

html{
    height: 100%;
    /*        width: 100%;*/
}

body{
    margin:0px;
    padding:0px;
    background-repeat: round;
    background-position-x: right;
    background-position-y: right;
    font-family: calibri;

    height: 97%;
    width: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /*    -webkit-background-size: contain;  Safari and Chrome
        -moz-background-size: contain;  Firefox
        -ms-background-size: contain;  Internet Explorer
        -o-background-size: contain;  Opera
        background-size: contain;  CSS3 */
}



.body{
    /*    width:100%;*/
    margin-left: 20px;
    height: 65%;

    /*    background: white;*/
}

.body h3{
    color: greenyellow;
    font-size: 40px;
    margin:0px;

}

.body h2{
    color: greenyellow;
    font-size: 32px;
    margin:0px;

}

.body div{
}


.body h3:hover{

}

.footer{

    /*    text-shadow: 1px 1px 2px aqua;*/
    text-align: center;
    color:white;
    position: fixed;
    font-family: Times new roman;
    font-size: 20px;
    opacity:0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";

    /* IE 5-7 */
    filter: alpha(opacity=70);

    /* Netscape */
    -moz-opacity: 0.7;

    /* Safari 1.x */
    -khtml-opacity: 0.7;
    /*    height: 16%;*/
    width: 100%;
    background: #06599F;
    -webkit-border-top-left-radius: 69%;
    -webkit-border-top-right-radius: 29%;
    -moz-border-radius-topleft: 69%;
    -moz-border-radius-topright: 29%;
    border-top-left-radius: 69%;
    border-top-right-radius: 29%;
    /*        border-color: white;
            border-style: solid;
            border-width: 1px;*/
}

.footer a{
    color: white;
    text-decoration: none;
}

.footer a:hover{
    color:red;
}


.footer:hover{

    /*    opacity:1;*/
}

.footer_address{
}

.leftBody{
    height: 85%;
    float:left;
    width:20%;
    background: orange;
    opacity:0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

    /* IE 5-7 */
    filter: alpha(opacity=80);

    /* Netscape */
    -moz-opacity: 0.8;

    /* Safari 1.x */
    -khtml-opacity: 0.8;

    border-color: red;
    border-width: 10px;
    border-style: solid;

    -webkit-border-top-left-radius: 50px;
    -webkit-border-bottom-left-radius: 50px;
    -moz-border-radius-topleft: 50px;
    -moz-border-radius-bottomleft: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

}

.rightBody{
    height: 80%;
    float:right;
    width:75.15%;
    padding:10px 20px;
    background: #06599F;
    opacity:0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";

    /* IE 5-7 */
    filter: alpha(opacity=70);

    /* Netscape */
    -moz-opacity: 0.7;

    /* Safari 1.x */
    -khtml-opacity: 0.7;
    border: 2px white double;
    margin-right:230px;
    animation-name: slidein;
    animation-duration: 3s;
}


.homeBody{
    margin-right:230px;
    height: 90%;
    float:right;
    width:80.15%;
    /*    padding:10px 20px;*/
    /*    background: #06599F;*/
    opacity:0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";

    /* IE 5-7 */
    filter: alpha(opacity=70);

    /* Netscape */
    -moz-opacity: 0.7;

    /* Safari 1.x */
    -khtml-opacity: 0.7;

    /*    border: 2px white double;*/

}

.ourMissionDiv{
    float:left;
    height: 45%;
    width:95%;
    margin:10px;
    padding:10px 20px;
    background: #06599F;
    border: 2px white double;
}
.downSection{
    height: 45%;
}
.recentNewsDiv{
    float:left;
    width:22%;
    height: 100%;
    margin:10px;
    padding:10px 20px;
    background: #06599F;
    border: 2px white double;
}

.indoorActivitiesDiv{
    float:left;
    width:32%;
    height: 100%;
    margin:10px;
    padding:10px 20px;
    background: #06599F;
    border: 2px white double;
}
.outdoorActivitesDiv{
    float:left;
    height: 100%;
    width:32%;
    margin:10px;
    padding:10px 20px;
    background: #06599F;
    border: 2px white double;

}
@keyframes slidein {
    from {
    margin-left: 100%;
}

to {
    margin-left: 0%;
}
}




.header label{
    background: orange;
    border-radius: 50%;
    width: 20%;
    overflow: auto;
    opacity:0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

    /* IE 5-7 */
    filter: alpha(opacity=80);

    /* Netscape */
    -moz-opacity: 0.8;

    /* Safari 1.x */
    -khtml-opacity: 0.8;
    position: relative;
    display: block;
}

.MenuClass{
    position: Fixed;
    z-index: 100;

}
.header a{

    margin-top:35px;
    margin:6px;
    height: 30px;
    float:left;
    width:120px;
    padding:10px;
    white-space: nowrap;
    color: white;
    background: #1E82CC;
    cursor:pointer;
    font-weight: bold;
    opacity:0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";

    /* IE 5-7 */
    filter: alpha(opacity=90);

    /* Netscape */
    -moz-opacity: 0.9;

    /* Safari 1.x */
    -khtml-opacity: 0.9;

    border-color: white;
    border-width: 2px;
    border-style: solid;
    font-family:"Calibri", "Segoe UI Web Semibold", "Segoe UI Web Regular", "Segoe UI", "Segoe UI Symbol", "Helvetica Neue", "Arial";
    text-decoration: none;
}


hr{
    background-color: greenyellow;
}

/*ol
{
    list-style-image: url('../images/bullet-grey.png');

}*/

.header a:hover{
    background: #3b5998;
    /*    opacity: 1;*/
}

.Header_school_Label{
    /*    float:left;*/
    margin:0px;
    font-family: 'Prince Valiant';
    color: brown;
    opacity:0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

    /* IE 5-7 */
    filter: alpha(opacity=80);

    /* Netscape */
    -moz-opacity: 0.8;

    /* Safari 1.x */
    -khtml-opacity: 0.8;

    text-align: left;
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(right, #FFFFFF 0%, #06599F 200%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(right, #FFFFFF 0%, #06599F 200%);

    /* Opera */
    background-image: -o-linear-gradient(right, #FFFFFF 0%, #06599F 200%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #FFFFFF), color-stop(2, #06599F));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(right, #FFFFFF 0%, #06599F 200%);

    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to left, #FFFFFF 0%, #06599F 200%);
}

.header{
    margin-top:20px;
    text-align: center;
    color:white;
    font-family: Times new roman;
    font-size: 20px;

    height: 20%;
    width: 100%;

}

.footer_left{
    float:right;
}
.footer_right{
    margin-bottom: 0px;
}

.fl_left{float:left;}
.fl_right{float:right;}
textLink{
    color:white;
    cursor:pointer;
}


/* ----------------------------------------------Copyright-------------------------------------*/

#copyright{
    padding:10px 0;
    margin:5px;
}

#copyright p{
    margin:5px;
    padding:0;
}



/* ----------------------------------------------Wrapper-------------------------------------*/

div.wrapper{
    display:block;
    width:100%;
    margin:0;
    text-align:left;
}

div.wrapper h1, div.wrapper h2, div.wrapper h3, div.wrapper h4, div.wrapper h5, div.wrapper h6{
    /*    margin:0 0 15px 0;*/
    padding:0;
    font-size:20px;
    font-weight:normal;
    line-height:normal;
}


.fb{
    border:none;
    width:400px;
    height:23px;
    margin-left:150px;
    color:white;
    background-color: white;
}

.aboutUsSpan{
    padding:20px;
    font-size: 20px;
    width:250px;
    height:50px;
    float:left;
    Margin-top:20px;
    Margin-right:20px;
    border: 2px solid white;
    text-align: center;

}

ol{
    color: whitesmoke;
    font-size: 20px;
    margin-left:100px;
    font-family: calibri;
    /*    margin-right:100px;*/
}

ul{
    color: whitesmoke;
    font-size: 20px;
    font-family: calibri;
    /*    margin-right:100px;*/
}


.aboutUsSpan_1{
    Margin-left:100px;
    color: aqua;
}

.aboutUsSpan_2{
    color: aqua;
}
.aboutUsSpan_3{
    color: aqua;
}
.aboutUsSpan_4{
    color: aqua;
}


.degree{
    margin:0px;
    font-size: 15px;
    text-align: center;
}

.keyFeatureDesc{
    color: white;
    font-size: 20px;
    font-family: calibri;
}

.aboutUsDesc{
    color: white;
    font-size: 20px;
    margin-left:100px;
    font-family: calibri;
    margin-right:100px;
}

.GalleryBody{

}



.polaroid-images a
{
    background: white;
    display: inline;
    float: left;
    margin: 0 15px 30px;
    padding: 10px 10px 25px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
    z-index:0;
    position:relative;
}

.polaroid-images a:after {
    color: #333;
    font-size: 20px;
    content: attr(title);
    position: relative;
    top:15px;
}

.polaroid-images img {
    display: block;
    width: inherit;
}

.polaroid-images a:nth-child(2n)
{
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    transform: rotate(4deg);
}
.polaroid-images a:nth-child(3n) {
    -webkit-transform: rotate(-24deg);
    -moz-transform: rotate(-24deg);
    transform: rotate(-24deg);
}
.polaroid-images a:nth-child(4n)
{
    -webkit-transform: rotate(14deg);
    -moz-transform: rotate(14deg);
    transform: rotate(14deg);
}
.polaroid-images a:nth-child(5n)
{
    -webkit-transform: rotate(-18deg);
    -moz-transform: rotate(-18deg);
    transform: rotate(-18deg);
}

.polaroid-images a:hover{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
    z-index:10;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);
    box-shadow: 0 10px 20px rgba(0,0,0,.7);
}

.testing{
    width:200px;
    height:200px;
}